	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="/js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/bundle.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>