<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
	<header id="header" class="">
		<h1><a href="/">作業中感情サポートソリューション　SAKASA〜サカーサ〜</a></h1>
	</header><!-- /header -->
