<%- include("./parts/header") %>
	<div class="uk-container uk-container-center">
		<p>癒やすぜ</p>
		<a class="uk-button uk-button-large uk-button-primary" href="/voicetest">さっそくつかってみる</a>
	</div>

<%- include("./parts/footer") %>
