<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
  </head>
  <body>
    <main>
      <%= uaText %>
      <p id="test"></p>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../src/js/rgbcolor.js"></script>
    <script src="../../../src/js/acclColor.js"></script>
  </body>
</html>
