@charset "UTF-8";
@import "../../../bower_components/uikit/scss/uikit-mixins.scss";
@import "./uikit-variables.scss";
@import "../../../bower_components/uikit/scss/uikit.scss";
@import "../../../bower_components/uikit/scss/components/autocomplete.scss";
// @import "../../../bower_components/uikit/css/uikit.gradient.css";

@import "mystyle.scss";
// @import "indexView.scss";